
body {
	    background-color: #e8e7e7;
        background-image: url(sf4.png);
}

h1 { 
    color: #070058;
	text-align: center;
    text-decoration: overline;
    font-style: italic;
}
 h2 {
    font-size: 22px;
    color: #004e0e;
    font-style: normal;
}


.big {
	margin: inherit;
    margin-bottom: 10px;
    margin-left: 65px;
}

h3 {
	text-align: center;
    font-style: italic;
    color: #ad0808;
    text-decoration: overline;
}

 a {
    font-size: larger;
    font-family: fantasy;
    color: #883131;
}

p {
    font-size: larger;
    font-family: inherit;
    color: #001f3c;
    text-align: center;
}

 a.simple {
    float: left;
    margin: 4px 10px 2px 10px;
 }


