
body {
	    background-color: #888888;
        background-image: url(sf4.png);
}

h1 { 
	text-align: center;
    text-decoration: overline;
    font-style: italic;
}


.big {
	margin: inherit;
    margin-bottom: 10px;
    margin-left: 65px;
}

h3 {
	text-align: center;
    font-style: italic;
    color: #a9a9a9;
    text-decoration: overline;
}

 a {
    font-size: larger;
    font-family: fantasy;
    color: #883131;
}

p {
    font-size: larger;
    font-family: inherit;
    color: #f7e6df;
    text-align: inherit;
}

#p2 {
    position: relative;
    
    clear: left;
}
h

 a.simple {
    float: left;
    margin: 4px 10px 2px 10px;
 }

 #after {
        position: absolute;
        top: 354px;
    }


 .top {
            height: 320px;
            width: 864px;
 }

 .footer {
        text-align: center;
 }


#photo {
   border: 0px solid #00f1f5;
    float: left;
     width: 317px;
    height: 241px;
    margin: 12px;}
